#pinkPurpleMoon
{
    height: 30%;
    text-align: center;
}

#GyuttoArt
{
    height: 30%;
    width: 30%;
    text-align: center;
}

#SunsetOnTheBeach
{
    height: 30%;
    width: 30%;
    text-align: center;
}

#body
{
    background-color: #aaf0d1;
}